{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
<style>

.img-responsive {
    width:auto;
    height: auto;
    margin: 0 auto;

}


</style>
<div class="" id="innercover" sytle="width:100%">
  <div class="row">
    <div class="col-md-1"><button class="btn text-left" id="up"><img src="{% static 'djangosnap//ic_trending_up_black_24dp_2x.png' %}"/></button>
    </div>
  </div>

  <div class="row">
      <div class="col-md-1"><button class="btn text-left" id="down"><img src="{% static 'djangosnap//ic_trending_down_black_24dp_2x.png' %}"/></button>
      </div>
  </div>



  <div class="row">
    {% if mediafiles %}
      <div class="col-md-12" id="content">
        <!-- <video class="video-js vjs-default-skin"
  controls width="640" height="264"
   id="vid" style="visibility: visible" data-setup='{}'>
        </video> -->
        <img src="#" class="img-responsive"style="visibility: hidden" id="im"/>
      </div>

    {% else %}
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-12" id="comments">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

           

<script type="application/javascript">

    var mediaURLS = [];
    {% if mediafiles %}
        {% for vid in mediafiles %}
            mediaURLS.push('{{ vid.mediafile.url|safe }}');
        {% endfor%}
    {% endif %}
</script>

<script src="{% static 'djangosnap/watchScript.js' %}"></script>





{% endblock %}


