{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
<style>

.img-responsive {
    width:100%;

#vid_html5_api.vjs-tech {
  position: relative !important;
    width: 100% !important;
    height: auto !important;
}
</style>
          <div class="" id="innercover" sytle="width:100%">
          <div class="row">
<div class="col-md-1"><a class="btn text-left " onclick="previousMedia()" style="visibility: hidden" id="previous"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        </div>


            {% if mediafiles %}
<div class="col-md-10">
        <video class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
   id="vid" style="visibility: hidden">
            <source id="sauce" src="" type="video/mp4">
            Your broswer doesn't support video tags
        </video>
        
        <img src="#" class="img-responsive col-md-10"style="visibility: hidden" id="im"/>
        </div>

    {% else %}
    {% endif %}
          <div class="col-md-1">
          <a class="btn text-right col-md-1" onclick="nextMedia()" style="visibility: hidden" id="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
        </div>
          </div>

           

<script type="application/javascript">

    var mediaURLS = [];
    {% if mediafiles %}
        {% for vid in mediafiles %}
            mediaURLS.push('{{ vid.mediafile.url|safe }}');
        {% endfor%}
    {% endif %}
</script>

 <script src="{% static 'djangosnap/watchScript.js' %}"></script>



{% endblock %}


